*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #ececec;
  font-family: fantasy;
  background: #26293A;
  text-align: center;
}

#root{
  display: flex;
}
.App{
  width: 90vw;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar{
  padding-left: 10%;
  height: 10%;
  width: 10vw;
  transform: rotate(90deg);

}
.title {
  font-size:x-large;
  color: #dbdbdb;
  margin-bottom: 25px;
  font-weight: 100;

}
h4{
  font-size:large;
  color: #5D656F;
  margin-bottom: 25px;
  font-weight: 100;
}

.form{
  display: flex;
  flex-direction: column;
}

.form input{
  margin-bottom: 30px;
  width: 82%;
  border: none;
  border-bottom: 2px solid #000;
  background: none;
  padding: 10px;
  outline: none;
  font-size: 22px;
  color: #dbdbdb;
  font-weight: bold;
}
.myButton {
  margin-bottom: 30px;
  opacity: .8;
   width: 90%;
   float: right;
	background-color:#339AF0;
  border-radius:28px;
  border-color:#339AF0 ;
	cursor:pointer;
	color:#dbdbdb;
	font-size:19px;
	padding:7px 11px;
}
.weather{
  display: flex;
  flex-direction: column;
}
.city-country{
  display: flex;
  align-items: center;
  font-size: xx-large;
  margin-bottom: 10px;
}
.country{
  margin-left: 10px;
}
.main-description{
  font-size: xx-large;
  margin-bottom: 10px;
}
.temperature{
  font-size: xx-large;
  margin-bottom: 10px;
  position: relative;
}
.temperature span{
  font-size: large;
  margin-bottom: 10px;
  position: absolute;
  
}
.min-max{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: x-large;
}

.min-temperature, .max-temperature{
  position: relative;
  margin-bottom: 10px;

}
.min-temperature span, .max-temperature span{
  font-size: small;
  margin-bottom: 13px;
  position: absolute;

}
.description{
  font-size: large;
}


.list{
display: flex;
flex-direction: row;

}


ul a {

  text-decoration: none;
  color: #000;
  margin-right: 100px;
}
.selected {
  color: #ececec;
}

.home-container{
  width: 80vw;
  height: 70vh;
  margin: 0;
  padding: 0;
  background-image: url("4.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;




}
.box-content{
  margin-top: 15%;
  margin-right: 20%;

}
.box-title{
  z-index: -1;


}